.header {
  margin-top: 10px;
  position: relative;
  width: 100%;
  padding: 0 2rem;
  height: 3.5rem;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  @media only screen and (max-width: 500px) {
    padding: 0 1rem;
  }
  i {
    height: inherit;
    font-size: 1.5rem;
    padding: 1rem 0.5rem 0 0.5rem;
    margin-left: 20px;
    float: right;
    &:hover {
      cursor: pointer;
      color: purple;
    }
    @media only screen and (max-width: 500px) {
      padding-top: 1.25rem;
      font-size: 1.2rem;
      margin-left: 10px;
    }
  }
  .empty {
    font-size: 1rem;
    font-style: normal;
    &:hover {
      color: black;
      cursor: auto;
    }
    @media only screen and (max-width: 500px) {
      padding-top: 1rem;
      font-size: 1rem;
      margin-left: 10px;
    }
  }
  a {
    text-decoration: none;
    .linkDiv {
      height: inherit;
      overflow: hidden;
      line-height: 3.5rem;
      color: black;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 1.5rem;
      font-weight: bold;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      @media only screen and (max-width: 500px) {
        font-size: 1.2rem;
        font-weight: 500;
      }
      &:hover {
        cursor: pointer;
        color: purple;
      }
      p {
        font-size: 1rem;
        margin-left: 10px;
        margin-top: 8px;
      }
    }
  }
  ul {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 10px;
    z-index: 1;
    li {
      cursor: pointer;
      font-weight: 500;
      padding: 8px 80px 8px 10px;
      background: white;
      border: 1px solid #777;
      border-bottom: none;
      &:last-child {
        border-bottom: 1px solid #777;
      }
      color: purple;
      &:hover {
        background: purple;
        color: white;
      }
    }
  }
}
.items {
  height: 320px;
  width: 100%;
  overflow-x: overlay;
  overflow-y: hidden;
  white-space: nowrap;
}
.itemsShow {
  animation: drop 0.5s ease-in-out forwards;
  @keyframes drop {
    from {
      height: 0;
      opacity: 0.2;
    }
    to {
      opacity: 1;
      height: 320px;
    }
  }
}
.itemsHide {
  animation: hide 0.5s ease-in-out forwards;
  @keyframes hide {
    to {
      opacity: 0;
      height: 0;
    }
    from {
      height: 320px;
      opacity: 1;
    }
  }
}
.itemsEdit {
  width: 100%;
  overflow-x: overlay;
  overflow-y: hidden;
  white-space: nowrap;
}
.itemsHiddenEdit {
  width: 100%;
  overflow-x: overlay;
  overflow-y: hidden;
  white-space: nowrap;
}
.itemEditContainer {
  float: left;
  display: inline-flex;
}
