.searchbar {
  width: 100%;
  display: flexbox;
  align-items: center;
  padding: 15px;
  padding-top: 0;
  margin-bottom: 10px;
  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 98%;
    padding-top: 20px;
    border-bottom: 1px solid purple;
  }
}
