.container {
  padding: 25px;
  .header {
    display: inline-block;
    width: 80%;
    padding: 10px 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    @media only screen and (max-width: 630px) {
      width: 100%;
    }
    h3 {
      display: inline-block;
      margin: 5px;
    }
    .link {
      text-decoration: none;
      .linkDiv {
        display: inline-block;
        word-wrap: break-word;
        word-break: break-all;
        color: purple;
        i {
          padding-left: 10px;
        }
      }
    }
  }
  .body {
    margin-top: 20px;
    width: 80%;
    @media only screen and (max-width: 900px) {
      width: 100%;
    }
    .imgDiv {
      float: left;
      background: black;
      width: 40vw;
      height: 70vh;
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
      img {
        width: inherit;
        height: inherit;
        object-fit: contain;
      }
    }
    .text {
      min-height: 400px;
      padding: 10px;
      padding-top: 0;
      width: 300px;
      float: left;
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
      h1 {
        float: right;
        color: purple;
        padding-right: 20px;
      }
      h2,
      p {
        width: 100%;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }
}
